<header>
  <h1>{{pageTitle}}</h1>
  <table>
    <tr>
      <td><a href="/">Home</a></td>
      <td><a href="/about">About</a></td>
      <td><a href="/projects">Projects</a></td>
    </tr>
  </table>
</header>
